extends ../base

block content
    h4 Upload video
    if errorMessage 
        span=errorMessage
    form(method="POST", enctype="multipart/form-data")
        label(for="video") Video
        input(type="file", id="video", name="video", accept="video/*", required)
        input(type="text",placeholder="Title", required, name="title", maxLength=80)
        input(type="text",placeholder="Description", required, name="description", minLength=20)
        input(type="text",placeholder="Hashtags, separated by comma", required, name="hashtags")
        input(type="submit", value="Upload Video")