extends ../base

block content
    div
        video#preview
        button#startBtn Start Recording
    if errorMessage 
        span=errorMessage
    form(method="POST", enctype="multipart/form-data")
        h1=pageTitle
        label(for="video") Video
        input(type="file", id="video", name="video", accept="video/*", required)
        input(type="text",placeholder="Title", required, name="title", maxLength=80)
        input(type="text",placeholder="Description", required, name="description", minLength=20)
        input(type="text",placeholder="Hashtags, separated by comma", required, name="hashtags")
        input(type="submit", value="Upload Video")

block scripts
    script(src="/static/js/recorder.js")