form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid $black;
  max-width: 800px;
  width: 80%;
  margin: 0 auto;
  padding: 40px 0;
  h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  input {
    max-width: 400px;
    width: 80%;
    margin: 2px;
    font-size: 15px;
    padding: 7px 15px;
    border: 1px solid $black;
    border-radius: 2px;
    height: 30px;
    &:hover {
      background-color: rgb(255, 240, 240);
    }
    &:focus {
      outline: none;
      background-color: $red-bright;
    }
  }
  input[type="submit"] {
    width: 50%;
    height: 45px;
    margin-top: 30px;
    background-color: $red;
    color: white;
  }
}
.form__link {
  padding-top: 3px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form__link-a {
  font-size: 12px;
  span {
    a {
      font-weight: 700;
      color: rgb(88, 154, 252);
    }
  }
}
