header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  i {
    margin-right: 10px;
  }
}
nav ul {
  display: flex;
  li {
    margin-left: 10px;
    span {
      border: 1px solid white;
      padding: 3px 14px;
      font-size: 13.5px;
    }
  }
}
