.social-login {
  display: flex;
  width: 50%;
  height: 45px;
  color: white;
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  background-color: rgb(172, 58, 221);
}
