.video__data {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.video__name {
  font-size: 20px;
  max-width: 800px;
  width: 80%;
  font-weight: 900;
  text-align: left;
}
.video__hashtags {
  display: flex;
  font-size: 13px;
  color: $link-blue;
  margin-bottom: 3px;
  li {
    margin-right: 4px;
  }
}

.video__owner {
  display: flex;
  margin-top: 10px;
  align-items: center;
  .video__owner-avatar {
    background-color: coral;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    i {
      font-size: 20px;
      color: white;
    }
  }
}
