extends ../base

block content
    span=errorMessage
    form(method="POST")
        input(name="name", placeholder="name", type="text", required)
        input(name="email", placeholder="email", type="email", required)
        input(name="username", placeholder="username", type="text", required)
        input(name="password", placeholder="password", type="password", required)
        input(name="password2", placeholder="check password", type="password", required)
        input(name="location", placeholder="location", type="text")
        input(type="submit", value="Join")
    
    hr
    div 
        span 이미 계정이 있으십니까?
            a(href="/login") 로그인 &rarr;