extends ../base

block content
    span=errorMessage
    form(method="POST")
        input(name="username", placeholder="username", type="text", required)
        input(name="password", placeholder="password", type="password", required)
        input(type="submit", value="Login")
    
    hr
    a(href="/users/github/start") GITHUB로 로그인하기 &rarr;
    div 
        span 아직 계정이 없으십니까? 
            a(href="/join") 회원가입 &rarr;